<template name="loginForm">
	{{#if showSandstorm}}
		<div class="alert alert-danger">
			You must login to Sandstorm (on the top right) in order to access this chat.
		</div>
	{{else}}
	<form id="login-card" method='/' novalidate>
		{{#if waitActivation}}
			<header>
				<h2>{{{_ "Registration_Succeeded"}}}</h2>
				<p>{{{_ "Wait_activation_warning"}}}</p>
				<p>{{{_ "Please_wait_activation"}}}</p>
			</header>
		{{else}}
			{{ >loginServices }}
			{{#if needsValidateEmail}}
				<div class="alert alert-danger">
					{{_ "You_need_confirm_email"}}
				</div>
			{{/if}}
			{{#if showFormLogin}}
				<div class="fields row">
					<div class='input-text input-field col s12 active {{showName}}'>
						<input type="text" name='name' class="validate" id="name"  dir="auto" />
                        <label for="name">{{namePlaceholder}}</label>
					</div>
					<div class='input-text input-field col s12 active {{showEmailOrUsername}}'>
						<input type="text" name='emailOrUsername' class="validate" id="email-name"  autocapitalize="off" autocorrect="off" />
                        <label for="email-name">{{_ "Email_or_username"}}</label>
					</div>
					<div class='input-text input-field col s12 active {{showEmail}}'>
						<input type="email" name='email' id="login-mail" class="validate" />
                        <label for="login-mail">{{_ "Email"}}</label>
					</div>
					<div class='input-text input-field col s12 active {{showPassword}}'>
						<input type="password" name='pass' id="pass"  class="validate" />
                        <label for="pass">{{_ "Password"}}</label>
					</div>
					<div class='input-text input-field col s12 active {{showConfirmPassword}}'>
						<input type="password" name='confirm-pass' id="conf-pass" class="validate"  />
                        <label for="conf-pass">{{_ "Confirm_password"}}</label>
					</div>
				</div>
				<div class="submit">
					<button data-loading-text="{{_ "Please_wait"}}..." class='button primary login'><span>{{btnLoginSave}}</span></button>
				</div>
				{{#if registrationAllowed}}
				<div class="register {{showRegisterLink}}">
					<a href="">{{_ 'Register'}}</a>
				</div>
				{{else}}
					{{#if linkReplacementText}}
						{{{linkReplacementText}}}
					{{/if}}
				{{/if}}
				{{#if passwordresetAllowed}}
				<div class="forgot-password {{showForgotPasswordLink}}">
					<a href="">{{_ 'Forgot_password'}}</a>
				</div>
				{{/if}}
			{{/if}}
		{{/if}}
		<div class="back-to-login {{showBackToLoginLink}}">
			<a href="">{{_ 'Back_to_login'}}</a>
		</div>
	</form>
	<div class='login-terms'>
		{{{loginTerms}}}
	</div>
	{{/if}}
</template>
