<template name="visitorInfo">
	<div class="content">
		<div class="user-view">

			{{#with user}}
			<div class="about clearfix">
				<div class="thumb">
					{{> avatar username=username}}
				</div>
				<div class="info">
					<h3 title="{{username}}"><i class="status-{{status}}"></i> {{username}}</h3>
					<p>{{name}}</p>

					<ul>
						{{#if utc}}<li><i class="icon-clock"></i>{{userTime}} (UTC {{utc}})</li>{{/if}}
						{{#each emails}} <li><i class="icon-mail"></i> {{address}}{{#if verified}}&nbsp;<i class="icon-ok"></i>{{/if}}</li> {{/each}}
						{{#each phone}} <li><i class="icon-phone"></i> {{phoneNumber}}</li> {{/each}}
						{{#if lastLogin}} <li><i class="icon-calendar"></i> {{_ "Created_at"}}: {{createdAt}}</li> {{/if}}
						{{#if lastLogin}} <li><i class="icon-calendar"></i> {{_ "Last_login"}}: {{lastLogin}}</li> {{/if}}
						{{#if ip}}<li><i class="icon-laptop"></i><span>{{ip}}</span></li>{{/if}}
						{{#if os}}<li><i class="{{osIcon}}"></i><span>{{os}}</span></li>{{/if}}
						{{#if browser}}<li><i class="{{browserIcon}}"></i><span>{{browser}}</span></li>{{/if}}
					</ul>
				</div>
			</div>
			{{/with}}
			<nav>
				<!-- <button class="button pvt-msg"><span><i class="icon-forward"></i> {{_ "Forward"}}</span></button> -->
			</nav>
			<br><br>
			<div class="row">
				<div class="input-field col s12">
					<input id="new_case_name" type="text" class="validate">
					<label for="new_case_name">Set case name</label>
				</div>
				<div class="transfer-to-case input-field col s8 offset-s2">
					<a class="waves-effect waves-light btn">Transfer to case</a>
				</div>
			</div>
		</div>
	</div>
</template>
