<template name="adminUserInfo">
	{{> userInfo user=.}}
	<nav>
		{{#if hasPermission 'edit-other-user-info'}}
		<button class='button lightblue edit-user button-block'><span><i class='icon-edit'></i> {{_ "Edit"}}</span></button>
		{{/if}}
		{{#if hasPermission 'assign-admin-role'}}
			{{#if hasLawyerRole}}
                <button class='button lightblue remove-lawyer button-block'><span><i class='icon-shield'></i> {{_ "Remove_Lawyer"}}</span></button>
			{{else}}
                <button class='button lightblue make-lawyer button-block'><span><i class='icon-shield'></i> {{_ "Make_Lawyer"}}</span></button>
			{{/if}}
			{{#if hasAdminRole}}
			<button class='button lightblue remove-admin button-block'><span><i class='icon-shield'></i> {{_ "Remove_Admin"}}</span></button>
			{{else}}
			<button class='button lightblue make-admin button-block'><span><i class='icon-shield'></i> {{_ "Make_Admin"}}</span></button>
			{{/if}}
		{{/if}}
		{{#if hasPermission 'edit-other-user-active-status'}}
			{{#if active}}
			<button class='button deactivate button-block'><span><i class='icon-block'></i> {{_ "Deactivate"}}</span></button>
			{{else}}
			<button class='button activate button-block'><span><i class='icon-ok-circled'></i> {{_ "Activate"}}</span></button>
			{{/if}}
		{{/if}}
		{{#if hasPermission 'delete-user'}}
		<button class='button delete red button-block'><span><i class='icon-trash'></i> {{_ "Delete"}}</span></button>
		{{/if}}
	</nav>
</template>
