<template name="membersList">
	<div class="content">
		{{> videoCall}}
		{{#if isGroupChat}}
			{{#if hasPermission 'create-p'}}
                <div class="list-view{{#if $.Session.get 'showUserInfo'}} animated-hidden{{/if}}">
					{{#with roomUsers}}
                        <div class="status">
                            <h2>{{_ "Members_List"}}</h2>
                            <p>
								{{{_ "Showing_online_users" total_online=totalOnline total=total}}}
								{{!--<button class="see-all">{{seeAll}}</button>--}}
                            </p>
							{{> videoButtons}}
							{{#if canAddUser}}
                                <div class="control row">
                                    <div class="input-field col s12 pull-s2">
										{{> inputAutocomplete settings=autocompleteSettingsAddUser id="user-add-search" class="search"}}
                                        <label for="user-add-search">Add user</label>
                                    </div>
									<div class="input-field col s9 pull-s2">
										<input id="email" type="email" class="validate" >
										<label for="email">Email</label>
									</div>
									<div class="input-field  col s3 pull-s1">
										<a class="btn-floating waves-effect waves-light red send-invite">
											<i class="material-icons">add</i>
										</a>
									</div>
                                </div>
							{{/if}}
                        </div>
                        <ul class='list clearfix lines'>
							{{#each users}}
                                <li class='user-image user-card-room status-{{status}}'>
                                    <a data-username="{{username}}" tabindex="0" title="{{username}}">
										{{> avatar username=username}}
                                        <p>{{username}} {{utcOffset}}</p>
                                    </a>
                                </li>
							{{/each}}
                        </ul>
					{{/with}}
                </div>
			{{/if}}
		{{/if}}
		<div class="user-view animated{{#unless showUserInfo}} animated-hidden{{/unless}}">
			{{> userInfo user=flexUserInfo showAll=isGroupChat video=isDirectChat}}
		</div>
	</div>
</template>
