<template name="adminTeams">
<section class="page-container page-list">
    <head class="fixed-title">
		{{> burger}}
        <h2>
            <span class="room-title">{{_ "Users"}}</span>
        </h2>
    </head>
<div class="content">
	{{#unless hasPermission 'view-user-administration'}}
        <p>{{_ "You_are_not_authorized_to_view_this_page"}}</p>
	{{else}}
        <form class="search-form" role="form">
            <div class="input-line search">
                <input type="text" id="users-filter" placeholder="{{_ "Search"}}" dir="auto">
                <i class="icon-search"></i>
				{{#unless isReady}}<i class="icon-spin4"></i>{{/unless}}
            </div>
        </form>

	</div>
	</section>


</template>
