<template name="listPrivateGroupsFlex">
	<header>
		<div>
			<h4>{{_ "Private_Groups"}}</h4>
		</div>
	</header>
	<div class="content">
		<div class="wrapper">
			<h4>{{_ "Private_Groups_list"}}</h4>
			<ul>
			{{#each groups}}
				<li>
					<a href="{{pathFor 'group' name=name}}" class="channel-link">
						<i class="icon-lock"></i>
						{{name}}
					</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	<footer>
	</footer>
</template>
