<template name="cases">
	<h3 class="add-room {{isActive}}">
		{{_ "Case"}}
		{{#if hasPermission 'create-p'}}
			<i class="icon-plus"></i>
		{{/if}}
	</h3>
	<ul>
		{{#each rooms}}
			{{> chatRoomItem }}
		{{else}}
			<p class="empty">{{_ "No_groups_yet" }}</p>
		{{/each}}
	</ul>
	{{#if $gt total totalOpen}}
		<a href="" class="more more-groups">{{_ "More_cases"}} ..</a>
	{{/if}}
</template>
