<template name="casesFlex">

    <div class="room-container">
        <div class="row">
            <form class="col s6 offset-s2"  id="case-form">
                <h1 style="font-size: 25px;margin-bottom:1%; " class="col s8 offset-s2"> Lets create new case</h1>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input  id="case-name" type="text" class="required">
                        <label for="case-name">Case Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
						{{> inputAutocomplete settings=autocompleteSettings id="pvt-group-members" class="search" placeholder=tRoomMembers autocomplete="off"}}
                        <label for="pvt-group-members" data-error="wrong" data-success="right" >Add Clients</label>
                        <ul class="selected-users">
							{{#each selectedUsers}}
                                <li>{{name}} <i class="icon-cancel remove-room-member"></i></li>
							{{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
						{{> inputAutocomplete settings=autocompleteSettingsForLawyers id="pvt-group-lawyers" class="search" placeholder=tRoomMembers autocomplete="off"}}
                        <label for="pvt-group-lawyers">Add other lawyers</label>
                        <ul class="selected-lawyers">
							{{#each selectedLawyers}}
                                <li>{{lawyer}} <i class="icon-cancel remove-room-lawyer"></i></li>
							{{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <a class="waves-effect waves-teal btn-flat col s3 offset-s5" id="case-form-submit">Create</a>
                </div>
            </form>
        </div>
    </div>
</template>

